# Application Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=false

# Database Configuration
MONGO_URL=
MONGO_DB=vehicle_management
VEHICLE_COLLECTION = vehicles
RENTAL_REQUEST_COLLECTION = rental_request

#Authentication Configuration
AUTH_API_URL= null
